/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #000;
    font-size: 1em;
    /* line-height: 1.4; */
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #000;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #000;
    text-shadow: none;
    color: #fff;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles - coded by Erik Zitzermann
   ========================================================================== */
:root {
 --grid-gutter: 2.5rem; /*40px*/
 --grid-gutter-tablet: 2.5rem; /*20px*/
 --grid-gutter-mobile: 0.625rem; /*10px*/
 --grid-margin: 5rem; /*60px*/
 --grid-margin-mobile: 2rem; /*30px*/
}

body {
 font-family: "apercu", sans-serif;
 font-size: 1.125rem;
 color: #000;
 line-height: 1.6875em;
 margin: 0;
 padding: 0;
 background: #fff;

 text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
}

.layout-container {
  padding: 0 var(--grid-margin);
  max-width: 90rem; /*1440*/
  margin: auto;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--grid-gutter);
  align-items: start;
}
@media only screen and (max-width: 62.5rem) {
  .layout-container {
    grid-column-gap: var(--grid-gutter-tablet);
  }
}
@media only screen and (max-width: 37.5rem) {
  .layout-container {
    padding: 0 var(--grid-margin-mobile);
    grid-column-gap: var(--grid-gutter-mobile);
  }
}

h1 {
  font-size: 1.75rem;
  line-height: 2.375rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 2.1875rem;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.6875em;
  margin: 0;
  padding: 0;
}

/* Home Header --------------------------------------------------------- */
#canvas {
  width: 100%;
  height: auto;
}
.header-home {
  background-color: #FFDE00;
  padding: 3.125rem 0;
  text-align: center;
}
@media only screen and (max-width: 62.5rem) {
  .header-home {
    padding: 5rem 0; /*80 px*/
  }
}
@media only screen and (max-width: 37.5rem) {
  .header-home {
    padding: 1.875rem 0; /*30 px*/
  }
}
.header-home .layout-container {
  align-items: center;
}
.intro {
  width: 100%;
  margin-bottom: 1.875rem;
}
.intro-links {
  margin-bottom: 0;
}
@media only screen and (max-width: 62.5rem) {
  .intro-links {
    margin-bottom: 3.125rem;
  }
}
.intro-links > a {
  margin-right: 1.875rem;
}
@media only screen and (max-width: 21.875rem) {
  .intro-links > a {
    margin-right: 1.125rem;
  }
}
.header-home .col1 {
  grid-column-start: 1;
  grid-column-end: 6;
}
.header-home .col2 {
  grid-column-start: 7;
  grid-column-end: 13;
}
@media only screen and (max-width: 62.5rem) {
  .header-home .col1 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .header-home .col2 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

/* Home Projects --------------------------------------------------------- */

.projects-home {
  padding: 0;
  text-align: center;
}
/* .projects-home .layout-container {
  grid-auto-rows: 1fr
} */
.projects-home h3 {
  grid-column: span 12;
  padding: 0;
  margin: 5rem 0;
  text-align: left;
  font-weight: bold;
}
.projects-home h2 {
  margin-bottom: 1.875rem;
}
@media only screen and (max-width: 37.5rem) {
  .projects-home h3 {
    margin: 3.75rem 0;
  }
}
.projects-home-item {
  grid-column: span 12;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--grid-gutter);
  align-items: start;
  margin-bottom: 6.25rem;
}
@media only screen and (max-width: 37.5rem) {
  .projects-home-item {
    grid-column-gap: var(--grid-gutter-mobile);
  }
}
.projects-home-item-number {
  margin: 0;
  display: block;
  position: absolute;
  text-align: left;
  grid-column: span 1;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 37.5rem) {
  .projects-home-item-number {
    position: relative;
  }
}
.projects-home .col1 {
  grid-column-start: 2;
  grid-column-end: 7;
  align-self: start;
}
@media only screen and (max-width: 62.5rem) {
  .projects-home .col1 {
    grid-column-start: 2;
    grid-column-end: 12;
  }
}
@media only screen and (max-width: 37.5rem) {
  .projects-home .col1 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}
.project-img img {
  width: 100%;
  height: auto;
}
.projects-home .col2 {
  grid-column: span 5;
}
@media only screen and (max-width: 62.5rem) {
  .projects-home .col2 {
    margin-top: 1.875rem;
    grid-column-start: 2;
    grid-column-end: 12;
  }
}
@media only screen and (max-width: 37.5rem) {
  .projects-home .col2 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}
.projects-actions {
  margin-top: 1.875rem;
}
.projects-actions a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 3.75rem;
  border-bottom: 2px solid #FFDE00;
}
@media only screen and (max-width: 37.5rem) {
  .projects-actions a {
    margin-right: 1.875rem;
  }
}
.projects-home .col2 img {
  max-width: 100%;
  height: auto;
}

/* Home Information --------------------------------------------------------- */

.information-home h3 {
  margin-bottom: 1.25rem;
}
.information-home .layout-container {
  margin-top: 1.875rem;
}

.information-home .layout-container > div {
  margin-bottom: 5rem;
}
@media only screen and (max-width: 62.5rem) {
  .information-home .layout-container > div {
    margin-bottom: 3.75rem;
  }
}
.information-home-companies, .information-home-tools {
  grid-column: 1 / span 5;
}
.information-home-clients, .information-home-languages {
  grid-column: 7 / span 5;
}
@media only screen and (max-width: 62.5rem) {
  .information-home-companies, .information-home-tools {
    grid-column: 1 / span 6;
  }
  .information-home-clients, .information-home-languages {
    grid-column: 7 / span 6;
  }
}
@media only screen and (max-width: 37.5rem) {
  .information-home-companies, .information-home-clients, .information-home-tools, .information-home-languages {
    grid-column: 1 / span 12;
  }
}

/* Footer --------------------------------------------------------- */
.footer {
  background-color: black;
  padding: 1.875rem 0;
  margin-top: 5rem;
  color: white;
}
.footer p {
  grid-column: span 12;
  margin: 0;
  padding: 0;
}

/* Projects --------------------------------------------------------- */
.header-project {
  background-color: #FFDE00;
}
.header-project .layout-container {
  height: 8.75rem;
  align-items: end;
}
.header-project a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    grid-column: span 12;
    margin-bottom: 1.25rem;
}
.project-info {
  margin: 6.25rem 0;
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--grid-gutter);
  align-items: start;
}
@media only screen and (max-width: 62.5rem) {
  .project-info {
    margin: 5rem 0;
    grid-column-gap: var(--grid-gutter-tablet);
  }
}
@media only screen and (max-width: 37.5rem) {
  .project-info {
    margin: 3.75rem 0;
    grid-column-gap: var(--grid-gutter-mobile);
  }
}
.project-info h2 {
  grid-column: 2 / span 11;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 62.5rem) {
  .project-info h2 {
    grid-column: 2 / span 10;
  }
}
@media only screen and (max-width: 37.5rem) {
  .project-info h2 {
    grid-column: 1 / span 12;
  }
}
.project-text {
  grid-column: 2 / span 6;
}
@media only screen and (max-width: 68.75rem) {
  .project-text {
    grid-column: 2 / span 7;
  }
}
@media only screen and (max-width: 62.5rem) {
  .project-text {
    grid-column: 2 / span 10;
  }
}
@media only screen and (max-width: 37.5rem) {
  .project-text {
    grid-column: 1 / span 12;
  }
}
.project-data {
  grid-column: 10 / span 3;
  display: grid;
}
@media only screen and (max-width: 62.5rem) {
  .project-data {
    margin-top: 2.5rem;
    grid-column: 2 / span 10;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: var(--grid-gutter-tablet);
    align-items: start;
  }
  .project-data > div {
    grid-column: span 3;
  }
}
@media only screen and (max-width: 37.5rem) {
  .project-data {
    grid-column: 1 / span 12;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--grid-gutter-mobile);
  }
  .project-data > div {
    grid-column: span 4;
  }
}
@media only screen and (max-width: 25rem) {
  .project-data > div {
    grid-column: span 12;
  }
}
.project-text p {
  margin-top: 0;
  padding-top: 0;
}
.project-text .projects-actions {
  margin-top: 2.5rem;
}
.project h3 {
  grid-column: 2 / span 11;
}
.project-data-content {
  margin-bottom: 1.25rem;
  font-weight: bold;
}
.project-images {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--grid-gutter);
  align-items: start;
}
@media only screen and (max-width: 62.5rem) {
  .project-images {
    grid-column-gap: var(--grid-gutter-tablet);
  }
}
@media only screen and (max-width: 37.5rem) {
  .project-images {
    grid-column-gap: var(--grid-gutter-mobile);
  }
}
.project-images-label {
  grid-column: 2 / span 5;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 62.5rem) {
  .project-images-label {
    grid-column: 2 / span 8;
  }
}
@media only screen and (max-width: 37.5rem) {
  .project-images-label {
    grid-column: 1 / span 12;
  }
}
.project-images .project-img {
  grid-column: span 12;
  margin-bottom: 5rem;
}
.project-interaction-demo {
  grid-column: 1 / span 12;
  height: auto;
  margin-bottom: 2.5rem;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
